

{% extends 'customadmin/admin_nav.html' %}

{% load crispy_forms_filters %}


{% load static %}

    
    
{% block content %}


<!---end of navbar-->
<link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />

<!-- pageHeader -->

<div id="layoutSidenav_content">
    
    <body>


<div class="wrapper " style="margin: 10px auto">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <div>
        <h1>Edit Category</h1>
      </div>
    </div>

    <!-- Login Form -->
    <form class="" action="{% url 'edit_category' id  %}" method="POST" id="register" enctype="multipart/form-data" >
      {% csrf_token %}
      <div class="container">
        <div class= "text-right">
            <img src="{{ categorys.cat_image.url }}"alt="Category  Image" width="100" style = "border-radius:50px;">

        </div>
        {{ form|crispy }}
        
        
          
        {% include 'includes/alerts.html' %}          
        
      <input type="submit" class="btn btn-primary" value="Edit" style="background:#5ba515;color:white">
    </div>
  </div>



  </form>

  <!-- Remind Passowrd -->


</div>
</div>
</div>
</body>
</html>

  
  {% endblock %}